%section#about-section.grey-bg{:style => "padding-bottom: 60px;"}
  .container
    .row
      .col-md-12.col-sm-12.col-xs-12
        .services-div.margin-minus{"data-aos" => "fade-up", "data-aos-duration" => "1000"}
          .col-md-4.col-sm-4.col-xs-12.text-center.br.service-hover
            .service{"data-aos" => "zoom-in", "data-aos-duration" => "1000"}
              .service-icon
                %i.fa.fa-desktop
              .service-desc
                %h4.blue.oB Mineria
                %p.light.oR{:style => "text-align: center !important;"} Weblifepipo comenzó con unas pocas Redes Mineras hasta que expandimos nuestra red en Instalaciones complejas.
          .col-md-4.col-sm-4.col-xs-12.text-center.br.b0.service-hover
            .service{"data-aos" => "zoom-in", "data-aos-duration" => "1000"}
              .service-icon
                %i.fa.fa-area-chart
              .service-desc
                %h4.blue.oB Trading
                %p.light.oR{:style => "text-align: center !important;"} Nuestros expertos están plenamente cualificados para realizar un alto nivel de comercio y rendimiento para usted, 24 horas al día y 7 días a la semana, logrando un generoso margen de rentabilidad en un mega-mercado global.
          .col-md-4.col-sm-4.col-xs-12.text-center.br.b0.service-hover
            .service{"data-aos" => "zoom-in", "data-aos-duration" => "1000"}
              .service-icon
                %i.fa.fa-retweet
              .service-desc
                %h4.blue.oB Programa de Referidos
                %p.light.oR{:style => "text-aling: center !important;"} Nuestros usuarios, la clave más importante para este bussines recibirá un 5% de ganancias para cada nuevo miembro que ingresan.
          
    .row
      .col-md-12.col-sm-12.col-xs-12
        .col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1.col-xs-12.text-center
          #wwa
            .heading-text{"data-aos" => "fade-up", "data-aos-duration" => "1000"}
              %span.gold-gradient-color QUIENES SOMOS ?
            %p.light.oR{"data-aos" => "fade-up", "data-aos-duration" => "1000", :style => "text-aling: justify !important;"} Los miembros actuales de nuestro equipo minero bitcoin vienen de amigos que tratan de hacer un nuevo ingreso, la comprensión y la minería criptocurrencies nos ha reunido. Todos somos creyentes fuertes en el futuro de las monedas digitales y nos encanta ser parte de esta comunidad Weblifepipoing! Empezamos en un garaje construyendo mallas de minería simples, a medida que pasaba el tiempo empezamos a recibir computadoras viejas y ampliamos nuestra red. Pocos meses después las ganancias de la minería nos permitieron comprar equipos aún mejores hasta que nos expandimos en grandes almacenes.
            %button.btn.btn-gradient.outline-button.mtb20{"data-aos" => "zoom-in-up", "data-aos-duration" => "800", "data-target" => "#pop-about", "data-toggle" => "modal"}
              %div{:style => "background: #f1f1f1;transition: all 0.3s"}
                %span Leer mas de Nosotros
