%footer#contact-section.sectionP60.dark-bg
  .container
    .row
      .col-md-12.col-sm-12.col-xs-12
        .col-md-7.col-sm-7.col-xs-12.pull-right.resCont
          .col-md-12.col-sm-12.col-xs-12
            .heading-text
              %span.gold-gradient-color Get in touch.
          %form{:action => ""}
            .col-md-12.col-sm-12.col-xs-12.p0
              .col-md-6.col-sm-6.col-xs-12
                .input-box
                  %input{:placeholder => "Full Name", :required => "", :type => "text"}/
                  %span{:style => "position: absolute"}
                    %i.fa.fa-user
              .col-md-6.col-sm-6.col-xs-12
                .input-box
                  %input{:placeholder => "Email Address", :required => "", :type => "text"}/
                  %span{:style => "position: absolute"}
                    %i.fa.fa-envelope-o
            .col-md-12.col-sm-12.col-xs-12.p0
              .col-md-6.col-sm-6.col-xs-12
                .input-box
                  %input{:placeholder => "Mobile or Telephone", :required => "", :type => "text"}/
                  %span{:style => "position: absolute"}
                    %i.fa.fa-phone
              .col-md-6.col-sm-6.col-xs-12
                .input-box
                  %input{:placeholder => "Subject", :required => "", :type => "text"}/
                  %span{:style => "position: absolute"}
                    %i.fa.fa-puzzle-piece
            .col-md-12.col-sm-12.col-xs-12.p0
              .col-md-12.col-sm-12.col-xs-12
                .input-box
                  %textarea{:cols => "30", :id => "", :name => "", :placeholder => "Type your message here...", :rows => "5"}
                  %span{:style => "position: absolute"}
                    %i.fa.fa-comments
            %button.btn.btn-gradient.outline-button.pull-right.mtb20
              %div{:style => "background: #0C1222;transition: all 0.3s"}
                Send
                %tag.hidden-xs Message
        .col-md-4.col-sm-5.col-xs-12.border-right.resCompany
          .company-desc.logoo
            %a{:href => "#home-section"}
              %img.img-responsive{:src => "frontend/images/logo.png"}/
            %p.light2.rl Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad atque corporis dignissimos eius eos est explicabo.
          .meet-us
            %p.gold.rL MEET US
            %span.light2.oR Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad atque corporis dignissimos eius eos est explicabo, impedit magnam magni.
          .cont-us
            %p.gold.rL Contact Us
            %div
              %a.light2.g{:href => "javascript:;"}
                %span.oR Landline : +061 - 1234 - 5678
            %div
              %a.light2.g{:href => "javascript:;"}
                %span.oR Mobile : +1 987654 - 3210
            %div
              %a.light2.g{:href => "javascript:;"}
                %span.oR Email : info@example.com
