%footer#contact-section.sectionP60.dark-bg
  .container
    .row
      .col-md-12.col-sm-12.col-xs-12
        .col-md-7.col-sm-7.col-xs-12.pull-right.resCont
          .col-md-12.col-sm-12.col-xs-12
            .heading-text
              %span.gold-gradient-color Estar en contacto.
          %form{:action => ""}
            .col-md-12.col-sm-12.col-xs-12.p0
              .col-md-6.col-sm-6.col-xs-12
                .input-box
                  %input{:placeholder => "Nombre Completo", :required => "", :type => "text"}/
                  %span{:style => "position: absolute"}
                    %i.fa.fa-user
              .col-md-6.col-sm-6.col-xs-12
                .input-box
                  %input{:placeholder => "Email ", :required => "", :type => "text"}/
                  %span{:style => "position: absolute"}
                    %i.fa.fa-envelope-o
            .col-md-12.col-sm-12.col-xs-12.p0
              .col-md-6.col-sm-6.col-xs-12
                .input-box
                  %input{:placeholder => "Celular", :required => "", :type => "text"}/
                  %span{:style => "position: absolute"}
                    %i.fa.fa-phone
              .col-md-6.col-sm-6.col-xs-12
                .input-box
                  %input{:placeholder => "Asunto", :required => "", :type => "text"}/
                  %span{:style => "position: absolute"}
                    %i.fa.fa-puzzle-piece
            .col-md-12.col-sm-12.col-xs-12.p0
              .col-md-12.col-sm-12.col-xs-12
                .input-box
                  %textarea{:cols => "30", :id => "", :name => "", :placeholder => "Mensaje...", :rows => "5"}
                  %span{:style => "position: absolute"}
                    %i.fa.fa-comments
            %button.btn.btn-gradient.outline-button.pull-right.mtb20
              %div{:style => "background: #0C1222;transition: all 0.3s"}
                Enviar
                %tag.hidden-xs Mensaje
        .col-md-4.col-sm-5.col-xs-12.border-right.resCompany
          .company-desc.logoo
            %a{:href => "#home-section"}
              %img.img-responsive{:src => "frontend/images/logo3.png", :style => "height: 60px;"}/
            %p.light2.rl Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad atque corporis dignissimos eius eos est explicabo, impedit magnam magni.
          .meet-us
            %p.gold.rL Conocenos
            %span.light2.oR Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad atque corporis dignissimos eius eos est explicabo, impedit magnam magni.
          .cont-us
            %p.gold.rL Contáctemonos
            %div
              %a.light2.g{:href => "javascript:;"}
                %span.oR Linea fija : (+57) 1 234-5678
            %div
              %a.light2.g{:href => "javascript:;"}
                %span.oR Celular : +57 1234-5678
            %div
              %a.light2.g{:href => "javascript:;"}
                %span.oR Email : info@weblifepipo.com
