%section#home-section.header-bg
  .gradient.sectionP60.header-pad
    .container
      .row
        .col-md-12.col-sm-12.col-xs-12
          .row
            .col-md-5.col-sm-5.col-xs-12.header-text.sectionP60
              %h1.rL.white Web Life Pipo
              %h1.rL.white Deja que tu dinero, trabaje por ti!
              %p.rL.blue-L{:style => "text-align: justify !important;"} 
              %button.btn.btn-gradient{"data-aos" => "zoom-in-up", "data-aos-duration" => "800"} Adquirir Plan
            .col-md-6.col-sm-6.col-xs-12.pull-right
              .login-div.centered{"data-aos" => "fade-up", "data-aos-duration" => "1000"}
                .head
                  %h3.purple.oR.m0 Login | Web life pipo
                  %p.light.oR Introduzca sus credenciales
                  %form{:action => ""}
                    .body
                      .input-box
                        %input{:placeholder => "Email", :required => "", :type => "text"}/
                        %span{:style => "position: absolute"}
                          %i.fa.fa-user
                      .input-box
                        %input{:placeholder => "Contraseña", :required => "", :type => "password"}/
                        %span{:style => "position: absolute"}
                          %i.fa.fa-key
                  .foot
                    %a.forgot.pull-left{:href => "javascript:;"}
                      %small Olvidaste la Contraseña?
                    %button.btn.btn-gradient.W100.pull-right{"data-aos" => "zoom-in-up", "data-aos-duration" => "800"}Ingresar