#pop-about.modal.fade{:role => "dialog"}
  .modal-dialog.modal-lg
    / Modal content
    .modal-content
      .modal-header
        %button.close{"data-aos" => "zoom-in-up", "data-aos-duration" => "800", "data-dismiss" => "modal", :type => "button"} ×
        %h3.modal-title.gold-gradient-color.oR.m0 Nosotros
      .modal-body
        %p.light.oR
        %h3 Mineria
        Los miembros actuales de nuestro equipo minero bitcoin vienen de amigos que tratan de hacer un nuevo ingreso, la comprensión y la minería criptocurrencies nos ha reunido. Todos somos creyentes fuertes en el futuro de las monedas digitales y nos encanta ser parte de esta comunidad Weblifepipoing! Empezamos en un garaje construyendo mallas de minería simples, a medida que pasaba el tiempo empezamos a recibir computadoras viejas y ampliamos nuestra red. Pocos meses después las ganancias de la minería nos permitieron comprar equipos aún mejores hasta que nos expandimos en grandes almacenes.
        %p.light.oR
        %h3 Trading
        Queríamos expandirnos y ganar aún más dinero sin consumir tiempo ni energía, así que entramos en el comercio. Al principio fue muy complicado y perdimos pero cuando nos enteramos de criptones todo cambia. Las nuevas criptográficas nos permiten comerciar a un nuevo nivel y ganar poco tiempo. Weblifepipo hace el comercio de cryptones, cuenta con un equipo profesional, anal profesionales profesionales, que evalúan el mercado y hacer movimientos de acuerdo a las tendencias del mercado. Por ejemplo, si el bitcoin baja mucho durante la semana pasada, pero de acuerdo con el análisis de los comerciantes de esta semana se elevará hasta un cierto límite, lo harán va a comprar muchos bitcoins y luego venderlos a un precio más alto que Ya lo prevén, las transacciones pueden llegar a ganar cantidades increíbles de dinero.
        %p.light.oR
        %h3 Sistema de Referidos
        Nuestros usuarios, la clave más importante para este bussines recibirá un 5% de ganancias para cada nuevo miembro que ingresan.
      .modal-footer
        %button.btn.btn-gradient{"data-dismiss" => "modal", :type => "button"} Cerrar
