%section.counter-bg
  .sectionP40.blue-bg
    .container
      .row
        .col-md-12
          .col-md-5.col-md-offset-0.col-sm-10.col-sm-offset-1.col-xs-12
            .responsive{"data-aos" => "fade-right", "data-aos-duration" => "1000"}
              .heading-text
                %span.gold-gradient-color Nuestro números
              %p.light2.oL{:style => "font-size: 16px;"} Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
              %button.btn.btn-gradient.outline-button.mtb20.hidden-sm.hidden-xs{"data-aos" => "zoom-in-up", "data-aos-duration" => "800"}
                %div{:style => "background: #091D48;transition: all 0.3s"} Registrate
          #counter.col-md-5.col-sm-12.col-xs-12.pull-right.resPad0
            .col-md-6.col-sm-3.col-xs-6.br.bb
              .numbers.text-center{"data-aos" => "zoom-in", "data-aos-duration" => "1000"}
                %span.numscroller.rB.gold-gradient-color{"data-delay" => "1", "data-increment" => "25", "data-max" => "4969", "data-min" => "0000"} 00
                %p.white.oR Downloads
            .col-md-6.col-sm-3.col-xs-6.bb
              .numbers.text-center{"data-aos" => "zoom-in", "data-aos-duration" => "1000"}
                %span.numscroller.rB.gold-gradient-color{"data-delay" => "1", "data-increment" => "25", "data-max" => "4670", "data-min" => "0000"} 00
                %p.white.oR Theme Lovers
            .col-md-6.col-sm-3.col-xs-6.br
              .numbers.text-center{"data-aos" => "zoom-in", "data-aos-duration" => "1000"}
                %span.numscroller.rB.gold-gradient-color{"data-delay" => "1", "data-increment" => "25", "data-max" => "4343", "data-min" => "0000"} 00
                %p.white.oR Followers
            .col-md-6.col-sm-3.col-xs-6
              .numbers.text-center{"data-aos" => "zoom-in", "data-aos-duration" => "1000"}
                %span.numscroller.rB.gold-gradient-color{"data-delay" => "1", "data-increment" => "25", "data-max" => "4546", "data-min" => "0000"} 00
                %p.white.oR Haters
