%section#pricing-table.sectionP60
  .container
    .row
      .col-md-12.col-sm-12.col-xs-12
        .col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1.col-xs-12.text-center
          %div
            .heading-text
              %span.gold-gradient-color Pricing Table.
            %p.light.oR{:style => "font-size: 16px;"} Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
        .col-md-12.col-sm-12.col-xs-12.sectionP60
          .row
            .col-md-4.col-sm-4.col-xs-12
              .package
                .name Basico
                .price $19
                .trial Free 30 day trial
                .lineDiv
                %ul
                  %li
                    %strong Unlimited
                    team members
                  %li
                    %strong Unlimited
                    team playlists
                  %li
                    %strong Unlimited
                    public playlists
                  %li
                    Team analytics
                  %li
                    Send files
                %button.btn.btn-gradient.outline Buy Now
            .col-md-4.col-sm-4.col-xs-12
              .package.brilliant
                .name Standard
                .price $29
                .trial Free 30 day trial
                .lineDiv
                %ul
                  %li
                    %strong Unlimited
                    team members
                  %li
                    %strong Unlimited
                    team playlists
                  %li
                    %strong Unlimited
                    public playlists
                  %li
                    Team analytics
                  %li
                    Send files
                %button.btn.btn-white-outline Buy Now
            .col-md-4.col-sm-4.col-xs-12
              .package
                .name Pro
                .price $59
                .trial Free 30 day trial
                .lineDiv
                %ul
                  %li
                    %strong Unlimited
                    team members
                  %li
                    %strong Unlimited
                    team playlists
                  %li
                    %strong Unlimited
                    public playlists
                  %li
                    Team analytics
                  %li
                    Send files
                %button.btn.btn-gradient.outline Buy Now
